#white {
    margin: 0;
    color: white;
}

#cardTitle {
    margin: 0;
}

#search {
    display: -webkit-inline-box;
    border: none;
    position: relative;
    left: 67.3%;
}

#chatList {
    min-height: 794px;
    max-height: 794px;  
    border-right: 1px solid black;
}

#chatBox {
    padding-left: 0;
    margin-top: 25px;
    border: 3px solid grey;
    max-height: 50em;
    min-height: 50em;
    border-radius: 10px;
}

#chatTab {
    min-height: 794px;
    max-height: 794px;
    min-width: 893px;
    max-width: 893px;
    position: absolute;
}

#send_btn {
    position: absolute;
    right: 7px;
    top: 6px;
}

h1 {
    text-align: center;
    margin: 0.5px 3px;
}

form {
    border: 1px solid gray;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.verticalLine {
    border-right: 1px solid black;
}

.input-group {
    border-radius: 15px;
}

.chatBlock {
    display: inline-block;
}

.rce-container-clist {
    max-width: 250px;
    margin-right: 0;
    border-radius: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.text-muted {
    align-self: center;
    font-size: larger;
}


.form-group {
    margin: 1rem;
}

.card {
    margin: auto auto 5em auto;
}

.homeCard {
    min-height: 509px;
    max-height: 509px;
}

.singleCard {
    max-width: 60%;
}

.container { 
    min-height: 100vh;
}

.pageTitle {
    margin: 0.5em 0 0.5em 0;
}

.checkBox {
    display: flex;
    justify-content: space-evenly;
}

.round {
    border-radius: inherit;
}

.row {
    margin-bottom: 5em;
}

.list-group{
     flex-direction: row;
 }
/*======Home CSS========*/
.filters {
    padding: 2px;
    margin: 0 10em;
    border: 1px solid grey;
}

.centerCheckbox {
    padding: 5px 0;
}

/*======Message CSS=====*/

.accordion>.card {
    margin: 0;
}

.accordion {
    flex-grow: 1;
    margin-left: 1em;
}

/*=====Profile css======*/

.userInfo {
    border: 2px solid black;
}

/*===Login Page css====*/

.alert-heading {
    text-align: center;
}
