#white {
    margin: 0;
    color: white;
}

#cardTitle {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0.5px 3px;
}

form {
    border: 1px solid gray;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.text-muted {
    align-self: center;
}


.form-group {
    margin: 1rem;
}

.card {
    margin: auto auto 5em auto;
    min-height: 324px;
}

.container { 
    min-height: 100vh;
}

.pageTitle {
    margin: 0.5em 0 0.5em 0;
}

.checkBox {
    display: flex;
    justify-content: space-evenly;
}

.round {
    border-radius: inherit;
}
